:root {
--font-size-h6: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
--font-size-h5: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-h4: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
--font-size-h3: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
--font-size-h2: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
--font-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 960px) {

#promo {

}

#about {

}

#reviews {

}

#shop {
  
}

}

@media (max-width: 960px) and (min-width: 768px) {

}

@media (max-width: 768px) and (min-width: 720px) {

}

@media (max-width: 720px) {

}
